body
{
    background-image: -webkit-linear-gradient(top left,#271c24,#476fb9);
}

.container{
    margin-top: 10%;

 
}
.form{
   
font-weight: bold;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;

    border:5px solid #ccc;
    border-radius: 5px;
    /* background-image: -webkit-linear-gradient(top left, #302135, #884244); */
    color: white;

   
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}
.header{
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    letter-spacing: 1px;
        font-family: 'Montserrat', sans-serif;
        color:rgb(173, 207, 229);
      
}
input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    
}

button {
    cursor: pointer;
    appearance: none;
margin-bottom: 10px;
  outline: 0;
  background-color: rgb(6, 62, 100);
  border: 0;
  padding: 10px;
  color: white;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
  border-radius: 20px;
}
.buttons
{
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}
